.portfolio{
    padding: 0 0 106px 0;
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio__title {
    margin: 0;
    padding-bottom: 50px;
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}

.portfolio__blok-links {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    border-bottom: 1px solid #424242;
    padding-top: 20px;
}

.portfolio__link:first-child {
    padding-top: 0;
}

.portfolio__link:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.portfolio__link-name {
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;
    padding-bottom: 19px;
}

.portfolio__link-icon {
    text-decoration: none;
    background: url(../../images/arrow.svg) no-repeat;
    background-position: center bottom;
    background-size: contain;
    border: none;
    padding-top: 15px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 769px) {
    .portfolio{
        padding: 0 30px 76px 30px;
    }

    .portfolio__link-name {
        font-size: 28px;
    }
}

@media screen and (max-width: 455px) {
    .portfolio {
        padding: 0 0 57px 0;
    }

    .portfolio__title {
        padding-bottom: 40px;
        color: #A0A0A0;
        font-size: 14px;
    }

    .portfolio__link {
        min-height: 28px;
        padding-top: 20px;
    }

    .portfolio__link-name {
        font-size: 18px;
        line-height: 28px; /* 155.556% */
        letter-spacing: -0.72px;
    }

    .portfolio__link-icon {
        padding: 0;
        width: 12px;
        height: 19px;
    }
}