.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s ease-in-out;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  max-width: 430px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  opacity: 1;
  z-index: 10;
}

.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent url("../../images/close_icon.svg") no-repeat center/cover;
  border: none;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .popup__close-button {
    top: -36px;
    right: 0px;
    width: 20px;
    height: 20px;
  }

  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }

}
