.root {
  /*display: block; !*as was*!*/
  /*from example of sticky footer*/
  /*min-height: 100%;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  color:#FFF;
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.container {
  padding: 0 70px;
  margin: 0 auto;
  /*from example of sticky footer*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*!*height: 100%;*!*/
  /*min-height: 100vh;*/
  /*flex: 1 0 auto;*/
  /*box-sizing: border-box;*/
}

@media screen and (max-width: 892px) {
  .container {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 455px) {
  .container {
    padding: 0 14px 0 14px;
  }
}