.account-menu__wrapper-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 auto 0;
}

.account-menu__account {
    margin-right: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.account-menu__link-logout {
    width: 26px;
    height: 30px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: transparent url('../../images/icon-man.svg') no-repeat center;
}

@media screen and (max-width: 769px) {
    .account-menu__wrapper-login {
        display: none;
    }

    .account-menu__burger-wrapper {
        display: flex;
        width: 100px;
        margin: 0 auto;
    }
}
