.tooltip {
    /*height: 260px;*/
    padding-top: 25px;
    padding-bottom: 20px;
}

.tooltip__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 32px;
    color: #000000;
}

.tooltip__image {
    display: flex;
    justify-content: space-around;
    width: 100%;
}